.wrapper-calculate-hard{
    display: flex;
    flex-direction: column;
    align-items: center;
  gap: 20px;

}
.input-result-calculate-hard{
    height: 40px;
}
.btn-result-calculate-hard{
padding: 10px 50px;
background-color: rgb(43, 43, 43);
color: white;
border: none;
border-radius: 6px;
}